nav {
    background-color: #2c3e50;
    color: white;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.nav-left a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.nav-left a .nav-icon {
    width: 30px; /* Adjust width to desired size */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px;
}

.nav-left a .nav-title {
    font-weight: 700;
}

.nav-right a {
    margin: 0 1em;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.nav-right a:hover {
    color: #ecf0f1;
}
